body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgb(57, 57, 58);
    color: #E6E6E6;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin: 0;
}

a {
    text-decoration: none;
    color: rgb(73, 71, 91);
    font-size: 20px;
}

p {
    color: rgb(57, 57, 58);
    margin: 5px 0;
    font-size: 14px;
}

img {
    margin-bottom: 10px;
    width: 100%;
    height: 10%;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(230, 230, 230);
    width: 100%;
    margin-top: 5px;
    padding-top: 10px;
}

@media only screen and (min-width: 600px) {
   a:hover {
       color: rgb(121, 148, 150);
   }

   .main-container {
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 50%;
        margin: auto;
        justify-content: center;
   }

   .item-container {
       background-color: rgb(230, 230, 230);
       width: 30%;
       height: 300px;
       margin-right: 10px;
       margin-top: 15px;
       margin-bottom: 97px
   }

   .title-container {
        position: relative;
        width: 100%;
        height: 30%;
        margin: auto;
        background-color: rgb(230, 230, 230);
        /* padding: 10px; */
        /* top: 60px; */
        /* z-index: 99; */
        /* background-color: rgba(230, 230, 230, .6);  */
        /* display: none; */
   }

   img {
       object-fit: cover;
       height: 100%;
   }

  

}